
@keyframes fadeIn{
  0% {
   opacity: 0;
  }
  100% {
   opacity: 1;
  }
 }

@keyframes fadeInUp {
  0% {
   transform: translate3d(0, 10%, 0);
   opacity: 0;
  }
  100% {
   transform: translate3d(0, 0%, 0);
   opacity: 1;
  }
 }

@keyframes fadeInDown {
  0% {
   transform: translate3d(0, -10%, 0);
   opacity: 0;
  }
  100% {
   transform: translate3d(0, 0%, 0);
   opacity: 1;
  }
 }


@keyframes blurBgCover {
 0% {
  background-position: left top;
  background-size: 100%;
 }
 10% {
  background-size: 130%;
  background-position: top;
 }
 20% {
  background-position: right top;
 }
 30% {
  background-position: right;
 }
 40% {
  background-position:  center;
 }
 50% {
  background-position: left;
 }
 60% {
  background-position: left bottom;
 }
 70% {
  background-position: bottom;
 }
 80% {
  background-position: right bottom;
 }
 90% {
  background-position: center;
 }
 100% {
  background-size: 100%;
  background-position: left top;
 }
}